/*****************************/
/* Set up the required fonts */
/*****************************/
@font-face {
    font-family: Libre Baskerville;
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: Libre Baskerville;
    src: url(../fonts/LibreBaskerville-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Libre Baskerville;
    src: url(../fonts/LibreBaskerville-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Carolingia;
    src: url(../fonts/Carolingia.ttf);
}

/*****************/
/* Global styles */
/*****************/
/* Highlight rollable items in red when hovered */
.rollable:hover, .rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

/* Highlight the build report trigger in blue when hovered */
.show-build-report:hover, .show-build-report:focus {
    color: #000;
    text-shadow: 0 0 10px blue;
    cursor: pointer;
}

/* Set up a 2-column grid format for item lists */
.two-column {
    display: grid;
    grid-column: span 2/span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3px;
    margin: 3px 0;
    padding: 0;
}

/* Set up a 5-column grid format for the header details */
.five-column {
    display: grid;
    grid-column: span 5/span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 3px;
    margin: 3px 0;
    padding: 0;
}

/* Extensions to the Foundry VTT flexrow/flexcol classes */
.flex-group-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Set alignment on a specific element */
.align-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}
.align-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}
.align-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

/*****************************************/
/* Styles used in combat tracker entries */
/*****************************************/
/* Set the appearance of the buttons to handle actions */
.combat-sidebar li.combatant .token-actions {
    color: var(--color-text-light-2);
    flex: 0 0 32px;
    text-align: center;
    border-right: 1px solid var(--color-border-dark-2);
}

/***************************************************/
/* Styles limited to a-light-in-dark-places sheets */
/***************************************************/
/* Use a custom background and font for all sheets */
.a-light-in-dark-places.sheet.journal-entry .journal-entry-content,
.a-light-in-dark-places .window-content {
    background-image: url('../assets/sheets/background.webp');
    font-family: "Libre Baskerville", sans-serif;
}

/* Customise the font for journal entry page headers */
.a-light-in-dark-places.sheet.journal-entry .journal-entry-content .title {
    font-family: "Carolingia", serif;
    color: #ef3f23;
}
.a-light-in-dark-places.sheet.journal-entry .journal-entry-content .journal-page-header {
    font-family: "Carolingia", serif;
}

/* Make the page numbers in the Journal Entry page directory invisible */
.a-light-in-dark-places.sheet.journal-entry .pages-list .page-heading .page-number {
    color: transparent;
}

/* Customise the sheet header */
.a-light-in-dark-places .sheet-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/* Customise individual elements of the sheet header */
.a-light-in-dark-places .sheet-header .profile-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 112px;
    flex: 0 0 20%;
    align-self: flex-start;
    width: 20%;
    height: auto;
    margin-right: 10px;
}
.a-light-in-dark-places .sheet-header .header-fields {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.a-light-in-dark-places .sheet-header h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
}
.a-light-in-dark-places .sheet-header h1.charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}
.a-light-in-dark-places .sheet-header .resource-label {
    text-align: center;
    margin: auto;
    font-weight: bold;
}
.a-light-in-dark-places .sheet-header .injuries {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ef3f23;
}
.a-light-in-dark-places .sheet-header .refresh-pools {
    width: 100%;
    height: 30px;
    border: 2px groove #50B050;
    border-radius: 2px;
    text-align: center;
    padding: 0px 2px;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
}
.a-light-in-dark-places .sheet-header .refresh-pools:hover {
    background-color: #50B050;
    color: white;
}
.a-light-in-dark-places .sheet-header .refresh-pools:active {
    background-color: #50B050;
    color: white;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
    transform: translate(1px, 1px);
}
.a-light-in-dark-places .sheet-header .remove-action,
.a-light-in-dark-places .sheet-header .add-action,
.a-light-in-dark-places .sheet-header .increase-speed,
.a-light-in-dark-places .sheet-header .decrease-speed {
    width: 30px;
    height: 30px;
    border: 2px groove #5050B0;
    border-radius: 2px;
    text-align: center;
    padding: 0px 2px;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
}
.a-light-in-dark-places .sheet-header .remove-action:hover,
.a-light-in-dark-places .sheet-header .add-action:hover,
.a-light-in-dark-places .sheet-header .increase-speed:hover,
.a-light-in-dark-places .sheet-header .decrease-speed:hover {
    background-color: #5050B0;
    color: white;
}
.a-light-in-dark-places .sheet-header .remove-action:active,
.a-light-in-dark-places .sheet-header .add-action:active,
.a-light-in-dark-places .sheet-header .increase-speed:active,
.a-light-in-dark-places .sheet-header .decrease-speed:active {
    background-color: #5050B0;
    color: white;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.2);
    transform: translate(1px, 1px);
}

/* Customise the sheet tabs */
.a-light-in-dark-places .sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

/* Customise the sheet body */
.a-light-in-dark-places .sheet-body,
.a-light-in-dark-places .sheet-body .tab,
.a-light-in-dark-places .sheet-body .tab .editor {
    height: 100%;
}
.a-light-in-dark-places .sheet-body .resource-label {
    text-align: center;
    margin: auto;
    font-weight: bold;
}
.a-light-in-dark-places .sheet-body .section-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}
.a-light-in-dark-places .sheet-body .passion {
    background: rgba(0, 0, 0, 0.03);
}

/* Customise item lists in the sheet */
.a-light-in-dark-places .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(80, 80, 80, 0.80);
    border: 2px groove #eeede0;
    font-weight: bold;
}
.a-light-in-dark-places .items-header > * {
    font-size: 14px;
    text-align: center;
}
.a-light-in-dark-places .items-header .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.a-light-in-dark-places .two-column > .items-header {
    grid-column-end: span 2;
}
.a-light-in-dark-places .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #444;
}
.a-light-in-dark-places .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.a-light-in-dark-places .items-list .item-name {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.a-light-in-dark-places .items-list .item-name h3,
.a-light-in-dark-places .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}
.a-light-in-dark-places .items-list .item-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.a-light-in-dark-places .items-list .item-controls a {
    font-size: 12px;
    text-align: center;
    margin: 0 6px;
}
.a-light-in-dark-places .items-list .item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}
.a-light-in-dark-places .items-list .item:last-child {
    border-bottom: none;
}
.a-light-in-dark-places .items-list .item .item-name {
    color: #191813;
}
.a-light-in-dark-places .items-list .item .item-name .item-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 30px;
    background-size: 30px;
    border: none;
    margin-right: 5px;
}
.a-light-in-dark-places .items-list .item-prop {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
}
.a-light-in-dark-places .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}
.a-light-in-dark-places .items-list .items-header > * {
    font-size: 12px;
    text-align: center;
}
.a-light-in-dark-places .items-list .items-header .item-name {
    padding-left: 5px;
    text-align: left;
}

/* Configure the effects tab */
.a-light-in-dark-places .effects .item .effect-source,
.a-light-in-dark-places .effects .item .effect-duration,
.a-light-in-dark-places .effects .item .effect-controls {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
}
.a-light-in-dark-places .effects .item .effect-controls {
    border: none;
}

/* Configure the character build report */
.a-light-in-dark-places .build-report .report-group {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 3px 0;
    align-items: center;
    text-align: center;
}
.a-light-in-dark-places .build-report .report-group > * {
    flex: 1;
}
.a-light-in-dark-places .build-report .report-group h2:first-child,
.a-light-in-dark-places .build-report .report-group label:first-child {
    text-align: left;
}
.a-light-in-dark-places .build-report .report-group .total-label {
    font-weight: bold;
}

/* Configure the TinyMCE editor */
.a-light-in-dark-places .tox .tox-editor-container {
    background-image: url('../../../ui/parchment.jpg');
}
.a-light-in-dark-places .tox .tox-edit-area {
    padding: 0 8px;
}
