<div class="wealth grid grid-2col">
  {{#if (eq actor.type "character")}}
  <div class="wealth flex-group-center">
    <div class="wealth-content flexrow flex-center flex-between">
      <label for="system.wealth" class="resource-label rollable" data-roll-type="wealth" data-roll-dice="{{system.wealth}}" data-label="wealth">{{localize "THOSEWHOWANDER.label.wealth"}}</label>
      <input type="text" name="system.wealth" value="{{system.wealth}}" data-dtype="Number"/>
    </div>
  </div>
  {{/if}}
  <div class="treasure flex-group-center">
    <div class="wealth-content flexrow flex-center flex-between">
      <label for="system.treasure" class="resource-label">{{localize "THOSEWHOWANDER.label.treasure"}}</label>
      <input type="text" name="system.treasure" value="{{system.treasure}}" data-dtype="Number"/>
    </div>
  </div>
</div>
{{#if (ne actor.type "minion")}}
<div class="gear">
  <ol class="items-list grid grid-2col">
    <li class="items-header grid-span-2 flexrow">
      <div class="item-name">{{localize "THOSEWHOWANDER.label.gear"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize "THOSEWHOWANDER.label.add_item"}}" data-type="gear"><i class="fas fa-plus"></i>{{localize "THOSEWHOWANDER.label.add_item"}}</a>
      </div>
    </li>
    {{#each gear as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-details flexrow flex-between rollable" data-roll-type="gear" data-label="{{item.name}}">
        <img class="flex0" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <span class="flex0">&#160;&#160</span>
        <h4 class="flex3">{{item.name}}</h4>
      </div>
      <div class="item-controls">
        <a class="item-control item-equip" title="{{localize "THOSEWHOWANDER.label.equipped"}}">{{#if item.system.equipped}}<i class="fas fa-tshirt"></i>{{else}}<i class="fas fa-box"></i>{{/if}}</a>
        <a class="item-control item-edit" title="{{localize "THOSEWHOWANDER.label.edit_item"}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize "THOSEWHOWANDER.label.delete_item"}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
{{/if}}
