<div class="passions">
  {{#if (eq actor.type "character")}}
  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "THOSEWHOWANDER.label.passions"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize "THOSEWHOWANDER.tooltip.add_passion"}}" data-type="passion"><i class="fas fa-plus"></i> {{localize "THOSEWHOWANDER.label.add_passion"}}</a>
      </div>
    </li>
    {{#each passions as |item id|}}
    <li class="item flexrow flex-between" data-item-id="{{item._id}}">
      <div class="item-details flexrow flex-between" data-roll-type="spell" data-label="{{item.name}}">
	<img class="flex0" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
	<span class="flex0">&#160;&#160</span>
	<h4>{{item.name}}</h4>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize "THOSEWHOWANDER.tooltip.edit_passion"}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize "THOSEWHOWANDER.tooltip.delete_passion"}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/if}}
</div>
{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
{{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}

