<div class="magic">
  <ol class="items-list two-column">
    <li class="items-header flexrow">
      <div class="item-name">{{localize "ALIDP.label.schools"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize "ALIDP.tooltip.add_school"}}" data-type="school"><i class="fas fa-plus"></i> {{localize "ALIDP.label.add_school"}}</a>
      </div>
    </li>
    {{#each schools as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-details flexrow flex-between rollable" data-roll-type="school" data-label="{{item.name}}">
        <img class="flex0" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <span class="flex0">&#160;&#160</span>
        <h4 class="flex3">{{item.name}}</h4>
        <h4 class="flex0">{{item.system.dice}}</h4>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize "ALIDP.tooltip.edit_school"}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize "ALIDP.tooltip.delete_school"}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
  <ol class="items-list two-column">
    <li class="items-header flexrow">
      <div class="item-name">{{localize "ALIDP.label.spells"}}</div>
      <div class="item-controls">
        <a class="item-control item-create" title="{{localize "ALIDP.tooltip.add_spell"}}" data-type="spell"><i class="fas fa-plus"></i> {{localize "ALIDP.label.add_spell"}}</a>
      </div>
    </li>
    {{#each spells as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-details flexrow flex-between rollable" data-roll-type="spell" data-label="{{item.name}}">
        <img class="flex0" src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
        <span class="flex0">&#160;&#160</span>
        <h4 class="flex3">{{item.name}}</h4>
        <h4 class="flex0">{{item.system.dice}}</h4>
      </div>
      <div class="item-controls">
        <a class="item-control item-edit" title="{{localize "ALIDP.tooltip.edit_spell"}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize "ALIDP.tooltip.delete_spell"}}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
