<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize "THOSEWHOWANDER.label.passions"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title="{{localize "THOSEWHOWANDER.label.add_passion"}}" data-type="passion"><i class="fas fa-plus"></i> {{localize "THOSEWHOWANDER.label.add_passion"}}</a>
    </div>
  </li>
  {{#each passions as |item id|}}
  <li class="item flexrow" data-item-id="{{item._id}}">
    <div class="item-details grid grid-3col" data-label="{{item.name}}">
      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
      <h4>{{item.name}}</h4>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="{{localize "THOSEWHOWANDER.label.edit_passion"}}"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="{{localize "THOSEWHOWANDER.label.delete_passion"}}"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
{{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}

