<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields flexcol">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "THOSEWHOWANDER.label.name"}}"/></h1>
      <div class="resistances grid grid-3col">
        {{#each system.resistances as |res key|}}
        <div class="resistance flex-group-center">
          <div class="resistance-content flexrow flex-center flex-between">
            <label for="system.resistances.{{key}}.dice" class="resource-label rollable" data-roll-type="resistance" data-roll-dice="{{res.dice}}" data-label="{{key}}">{{res.label}}</label>
            <input type="text" name="system.resistances.{{key}}.dice" value="{{res.dice}}" data-dtype="Number"/>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="dice grid grid-3col">
	<div class="number-content flexrow flex-center flex-between">
          <label for="system.number" class="resource-label">{{localize "THOSEWHOWANDER.label.number"}}</label>
          <input type="text" name="system.number" value="{{system.number}}" data-dtype="Number"/>
        </div>
	<div class="threat-content flexrow flex-center flex-between">
          <label for="system.threat" class="resource-label">{{localize "THOSEWHOWANDER.label.threat"}}</label>
          <input type="text" name="system.threat" value="{{system.threat}}" data-dtype="Number"/>
        </div>
	<div class="dice-content flexrow flex-center flex-between">
          <label for="system.dice" class="resource-label rollable" data-roll-type="minion" data-roll-dice="{{system.dice}}">{{localize "THOSEWHOWANDER.label.dice"}}</label>
          <input type="text" name="system.dice" value="{{system.dice}}" data-dtype="Number" disabled />
          <input type="text" name="system.injuries" value="{{system.injuries}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="actions">
        <div class="actions-content flexrow flex-center flex-between">
          <label for="system.speed" class="resource-label">{{localize "THOSEWHOWANDER.label.speed"}}</label>
          <button class="decrease-speed" title="{{localize "THOSEWHOWANDER.label.decrease_speed"}}"><i class="fas fa-backward"></i></button>
          <input type="text" name="system.speed" value="{{system.speed}}" data-dtype="Number" disabled />
          <button class="increase-speed" title="{{localize "THOSEWHOWANDER.label.increase_speed"}}"><i class="fas fa-forward"></i></button>
          <label for="system.actions" class="resource-label">{{localize "THOSEWHOWANDER.label.actions"}}</label>
          <button class="remove-action" title="{{localize "THOSEWHOWANDER.label.remove_action"}}"><i class="fas fa-backward"></i></button>
          <input type="text" name="system.actions" value="{{system.actions}}" data-dtype="Number" disabled />
          <button class="add-action" title="{{localize "THOSEWHOWANDER.label.add_action"}}"><i class="fas fa-forward"></i></button>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="main">{{localize "THOSEWHOWANDER.label.main"}}</a>
    <a class="item" data-tab="magic">{{localize "THOSEWHOWANDER.label.magic"}}</a>
    <a class="item" data-tab="gear">{{localize "THOSEWHOWANDER.label.gear"}}</a>
    <a class="item" data-tab="other">{{localize "THOSEWHOWANDER.label.other"}}</a>
    <a class="item" data-tab="effects">{{localize "THOSEWHOWANDER.label.effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Main Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
       {{> "systems/those-who-wander/templates/actor/tabs/actor-main.html"}}
    </div>

    {{!-- Magic Tab --}}
    <div class="tab magic" data-group="primary" data-tab="magic">
       {{> "systems/those-who-wander/templates/actor/tabs/actor-magic.html"}}
    </div>

    {{!-- Gear Tab --}}
    <div class="tab gear" data-group="primary" data-tab="gear">
       {{> "systems/those-who-wander/templates/actor/tabs/actor-gear.html"}}
    </div>

    {{!-- Other Tab --}}
    <div class="tab other" data-group="primary" data-tab="other">
       {{> "systems/those-who-wander/templates/actor/tabs/actor-other.html"}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
       {{> "systems/those-who-wander/templates/actor/tabs/actor-effects.html"}}
    </div>
  </section>
</form>
