<form class="a light-in-dark-places build-report">
  <div class="report-group">
    <h2>{{localize "ALIDP.buildReport.category"}}</h2>
    <h2>{{localize "ALIDP.buildReport.count"}}</h2>
    <h2>{{localize "ALIDP.buildReport.points"}}</h2>
  </div>
  <div class="report-group">
    <label>{{localize "ALIDP.label.resistances"}}</label>
    <span></span>
    <span>{{build.points.resistance}}</span>
  </div>
  <div class="report-group">
    <label>{{localize "ALIDP.label.skills"}}</label>
    <span>{{build.counts.skill}}</span>
    <span>{{build.points.skill}}</span>
  </div>
  <div class="report-group">
    <label>{{localize "ALIDP.label.schools"}}</label>
    <span>{{build.counts.school}}</span>
    <span>{{build.points.school}}</span>
  </div>
  <div class="report-group">
    <label>{{localize "ALIDP.label.wealth"}}</label>
    <span>{{build.counts.wealth}}</span>
    <span>{{build.points.wealth}}</span>
  </div>
  <div class="report-group">
    <label>{{localize "ALIDP.label.talents"}}</label>
    <span>{{build.counts.talent}}</span>
    <span>{{build.points.talent}}</span>
  </div>
  <div class="report-group">
    <label>{{localize "ALIDP.label.languages"}}</label>
    <span>{{build.counts.language}}</span>
    <span></span>
  </div>
  <div class="report-group">
    <label class="total-label">{{localize "ALIDP.buildReport.total"}}</label>
    <span></span>
    <span>{{build.total}}</span>
  </div>
  {{#each build.spells as |value key|}}
  {{#if (eq @index 0)}}
  <hr>
  <div class="report-group">
    <h2>{{localize "ALIDP.buildReport.school"}}</h2>
    <h2>{{localize "ALIDP.buildReport.dice"}}</h2>
    <h2>{{localize "ALIDP.buildReport.spells"}}</h2>
    <h2>{{localize "ALIDP.buildReport.complexity"}}</h2>
  </div>
  {{/if}}
  <div class="report-group">
    <label>{{key}}</label>
    <span>{{value.dice}}</span>
    <span>{{value.count}}</span>
    <span>{{value.complexity}}</span>
  </div>
  {{/each}}
  <hr>
</form>
